body {
  background-color: Black;
   color: white;
}
h1 {
  font-size: 20px;
}

p {
  font-size: 12px;
  color: green;
}
div {
  border-style: dotted;
  2px;
  width: 100px;
  height: 100px;
}
<ol outputclass="number-alpha">
    <li>A</li>
    <li>B</li>
  
</ol>
<ul>
 <li>Square</li>
 <li>Square</li>
</ul>

  
